<div class="row p-1">
    <h1 class="">Experiencia laboral</h1>
    <div class="col-lg-11 ps-5">
        <ul>
            <li>
                <h1>trabajo 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa incidunt nobis! Ratione quam iste rem temporibus ea, excepturi nostrum est inventore alias nam optio autem possimus porro quasi eum.
            </p>
        </ul>
        <ul>
            <li>
                <h1>trabajo 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa incidunt nobis! Ratione quam iste rem temporibus ea, excepturi nostrum est inventore alias nam optio autem possimus porro quasi eum.
            </p>
        </ul>
        <ul>
            <li>
                <h1>trabajo 3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde culpa incidunt nobis! Ratione quam iste rem temporibus ea, excepturi nostrum est inventore alias nam optio autem possimus porro quasi eum.
            </p>
        </ul>
    </div>
</div>