<!-- Fondo animado usando listas -->

<div class="area">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
<!-------------------------------------------->

<div class="container" *ngIf="proyecto">
  <div class="row">
    <h1 class="fixed-top">Editar proyecto</h1>
    
   <!-- Formulario para editar proyectos -->
    <div class="bg-dark p-5 rounded-5 fixed-top" id="background">
      <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <input
          type="text"
          name="nombreP"
          id="nombre"
          class="formStyle form-control"
          placeholder="Nombre del proyecto (requerido)"
          [(ngModel)]="proyecto.nombreP"
          required
        />
        <input
          type="text"
          name="descripcionP"
          id="apellido"
          class="formStyle form-control"
          placeholder="Descripcion del proyecto (requerido)"
          [(ngModel)]="proyecto.descripcionP"
          required
        />
        <input
          type="text"
          name="urlP"
          id="urlP"
          class="formStyle form-control"
          placeholder="URL del repositorio"
          [(ngModel)]="proyecto.urlP"
          required
        />
        <button type="submit" class="btn btn-light">Agregar Proyecto</button>
        <a href="/.." class="btn btn-light ms-4">Volver</a>
      </form>
    </div>
  </div>
</div>
