<!-- Fondo animado usando listas -->

<div class="area">
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <!-------------------------------------------->
  
  <div class="container" *ngIf="proyecto">
    <div class="row">
      <h1 class="fixed-top">Añadir Imagen</h1>
      
     <!-- Formulario para editar proyectos -->
      <div class="bg-dark p-5 rounded-5 fixed-top" id="background">
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
          <label for="img">Selecciona una imagen</label>
          <input
            type="file"
            name="img"
            id="img"
            class="formStyle form-control"
            [(ngModel)]="proyecto.img"
            (change)="ProyectoImg($event)"
            accept=".jpg, .jpeg, .png"
          />
          <div class="imagen mb-5">
            <img [src]="imageService.url" width="100px" />
          </div>
          <button type="submit" class="btn btn-light">Agregar imagen al proyecto</button>
          <a href="/.." class="btn btn-light ms-4">Volver</a>
        </form>
      </div>
    </div>
  </div>
  