<!-- Fondo animado usando listas -->
<div class="area">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
<!----------------------------------------------------------->
<div class="container">
  <div class="row">
    <h1 class="fixed-top">Añadir Proyecto</h1>

    <div class="bg-dark p-5 rounded-5 fixed-top" id="background" >
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <input
          type="text"
          name="nombreP"
          id="nombreP"
          class="formStyle form-control"
          placeholder="Nombre de la experiencia (requerido)"
          [(ngModel)]="nombreP"
          required
        />

        <input
          type="text"
          name="descripcionP"
          id="descripcionP"
          class="formStyle form-control"
          placeholder="Descripcion de el proyecto (requerido)"
          [(ngModel)]="descripcionP"
          required
        />

        <input
          type="text"
          name="urlP"
          id="urlP"
          class="formStyle form-control"
          placeholder="Url del repositorio / Link de la pagina  (requerido)"
          [(ngModel)]="urlP"
          required
        />

        <button type="submit" class="btn btn-light">Agregar Proyecto</button>
        <a href="/.." class="btn btn-light ms-4">Volver</a>
      </form>
    </div>
  </div>
</div>
