<div class="acercaDe-container row ">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img
      src="{{ persona?.img }}"
      alt="FotoDePerfil"
      class="img-fluid img-thumbnail"
      id="fotodeperfil"
    />
  </div>

  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 pt-4">
    <p class="fw-bold" id="nombre">{{ persona?.nombre }} {{ persona?.apellido }}</p>
    <p>Full Stack Developer Jr</p>
  </div>

  <div
    class="col-xs-12 col-sm-8 col-md-8 col-lg-8 d-flex justify-content-center align-items-center"
  >
    <span>
      <h1 class="adm__h1">Acerca de mi</h1>
      <p adm__p>{{ persona?.descripcion }}</p>
    </span>
  </div>
  <div>
    <button
      type="button"
      class="btn btn-light"
      routerLink="/editacercade/1"
      *ngIf="isLogged"
    >
      Editar persona
    </button>
  </div>
</div>
<hr size="8px" color="#ffffff" />
