.row {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-color: #000000;
    background-size: 20px 20px;
    animation: progress-bar-stripes 1500ms linear infinite;
  }
  
  @keyframes progress-bar-stripes {
    0% {
      background-position: 40px 0;
    }
    100% {
      background-position: 0 0;
    }
  }  

.row{
    padding: 20px ;
    
}
div{
    text-align: center;
}
p{
    color: white;
}
h1{
    color: white;
}


/* Etiqueta Nombre */
#name{
    font-weight: bold;
    margin-top: 30%;
}

/* Media Queries */
@media(min-width:576px){
    #fotodeperfil{
        position: absolute;
        width: 12%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(0, 0, 0);
        left: 2%;
        top: 800px;
    }
}
@media(max-width:575px){
    #fotodeperfil{
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px #000000;
        left: 35%;
        top: 720px;
    }
}
