<div class="area">
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>
<div class="container" *ngIf="persona">
  <div class="row">
    <h1 class="acercade-h1 fixed-top">Editar persona</h1>

    <div class="form-container bg-dark p-5 rounded-5 fixed-top" id="background">
      <form class="col-6" (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <input
          type="text"
          name="nombre"
          id="nombre"
          class="formStyle form-control"
          placeholder="Nombre (requerido)"
          [(ngModel)]="persona.nombre"
          required
        />
        <input
          type="text"
          name="apellido"
          id="apellido"
          class="formStyle form-control"
          placeholder="Apellido (requerido)"
          [(ngModel)]="persona.apellido"
          required
        />
        <input
          type="text"
          name="descripcion"
          id="descripcion"
          class="formStyle form-control"
          placeholder="descripcion"
          [(ngModel)]="persona.descripcion"
          required
        />
        <label class="file-selector mb-2" for="img"
          >Selecciona una imagen</label
        >
          <input type="file" type="file"
          name="img"
          id="img"
          class="formStyle form-control"
          [(ngModel)]="persona.img"
          (change)="uploadImage($event)"
          accept=".jpg, .jpeg, .png" />
        <div class="buttons">
          <button type="submit" class="btn btn-light">Agregar Persona</button>
          <a href="/.." class="btn btn-light ms-2">Volver</a>
        </div>
      </form>
    </div>
  </div>
</div>
