
.animated-gradient {
  animation: animateBg 15s linear infinite;
  background-image: linear-gradient(0deg,#811818,#551111,#2d0b0b,#120503,#2d0b0b,#551111,#811818,#811818,#551111);
  background-size: 100% 800%;
}
@keyframes animateBg {
  0% { background-position: 0% 100%; }
  100% { background-position: 0% 0%; }
}
